:root {
  --background: #1b2426;
  --point1_15: rgba(41, 204, 120, .15);
  --ui-1: #16171a;
  --line1: rgba(255, 255, 255, .14);
  --background2: #243033;
  --background3: #3e5759;
  --red: #e60b0b;
  --point1: #29cc78;
  --plus_back: #3a5951;
  --point2: #e53939;
  --minus_back: #443e59;
  --grey_colored: #72757e;
  --black: #000;
  --white: #fff;
  --grey: grey;
  --gold_2: #ebac00;
  --gold: gold;
  --transparent: transparent;
  --black_30: rgba(0, 0, 0, .3);
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.body {
  background-color: var(--background);
  color: #fff;
  font-family: Noto Sans KR, sans-serif;
  font-size: 12px;
}

.frame {
  width: 100%;
}

.top {
  height: 72px;
  min-width: 1280px;
  border-bottom: 1px solid var(--point1_15);
  background-color: var(--ui-1);
}

.content {
  min-width: 1280px;
  background-image: url('../images/green_digital2.png');
  background-position: 50%;
  background-size: cover;
}

.footer {
  width: 100%;
  border-top: 1px solid var(--line1);
  background-color: var(--ui-1);
  padding: 40px 16px 20px;
}

.top_warp {
  z-index: 99;
  height: 100%;
  max-width: 1440px;
  min-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.container {
  max-width: 1440px;
  min-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 40px;
  position: relative;
}

.game_content {
  width: 100%;
  justify-content: center;
  margin-bottom: 100px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}

.game_content.end {
  opacity: .7;
  transition: opacity .2s;
}

.game_board {
  width: 440px;
  height: 440px;
  border: 1px solid var(--line1);
  background-color: var(--background2);
  box-shadow: 0 0 10px 1px var(--point1_15);
  border-radius: 8px;
  padding: 24px;
}

.game_info {
  width: 61%;
}

.game_boardwarp {
  width: 100%;
  height: 100%;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-direction: column;
  display: flex;
}

.game_boxwarp {
  width: 100%;
  height: 20%;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  display: flex;
}

.game_box {
  width: 20%;
  height: 100%;
  background-color: var(--point1_15);
  border-radius: 4px;
}

.game_box:hover {
  background-image: linear-gradient(to bottom, var(--point1_15), var(--point1_15));
}

.game_box.suc {
  background-image: url('../images/icon_spider.svg'), linear-gradient(to bottom, var(--line1), var(--line1));
  background-position: 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 75%, auto;
}

.game_box.fail {
  background-image: url('../images/icon_web.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 75%;
}

.top_logo {
  width: 200px;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  display: flex;
}

.game_frame {
  border: 1px solid var(--point1_15);
  background-image: linear-gradient(to bottom, var(--background), var(--point1_15));
  border-radius: 4px;
  padding: 24px;
}

.bet_area {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  display: flex;
}

.game_left {
  width: 39%;
}

.game_balance {
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.game_bet_btnarea1 {
  width: 25%;
  font-size: 16px;
}

.game_bet_btnarea2 {
  width: 55%;
}

.score_box {
  width: 60%;
  height: 72px;
  align-items: center;
  margin-bottom: 14px;
  font-size: 16px;
  display: flex;
}

.game_logbox {
  height: 354px;
  border: 1px solid var(--line1);
  background-color: var(--background2);
  box-shadow: 0 0 10px 1px var(--point1_15);
  border-radius: 8px;
  padding: 24px;
}

.score_1 {
  width: 45%;
  height: 100%;
  min-width: 200px;
  background-image: url('../images/gm_box7.png');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
  justify-content: center;
  padding: 8px 40px 8px 20px;
  display: flex;
}

.score_2 {
  width: 55%;
  height: 100%;
  min-width: 300px;
  background-image: url('../images/gm_box8.png');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: auto;
  flex-direction: column;
  justify-content: center;
  margin-left: -60px;
  padding: 8px 20px 8px 60px;
  display: flex;
}

.bet_btn {
  width: 33.3%;
  height: 40px;
  border: 1px solid var(--line1);
  background-color: var(--background3);
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: background-color .2s;
  display: flex;
}

.bet_btn:hover {
  background-color: var(--background2);
}

.bet_btn.zero {
  background-color: var(--red);
}

.bet_btn.plus {
  border-color: var(--point1);
  background-color: var(--plus_back);
  color: var(--point1);
}

.bet_btn.plus:hover {
  background-color: var(--background2);
}

.bet_btn.minus {
  border-color: var(--point2);
  background-color: var(--minus_back);
  color: var(--point2);
}

.bet_btn.minus:hover {
  background-color: var(--background2);
}

.bet_btn_warp {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  margin-bottom: 6px;
  display: flex;
}

.balance_title {
  color: var(--grey_colored);
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.balance_count {
  text-align: center;
  font-size: 32px;
  line-height: 32px;
}

.game_notice {
  height: 62px;
  border: 2px solid var(--grey_colored);
  border-radius: 4px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 20px;
  display: flex;
}

.game_notice.red {
  border-color: var(--point2);
}

.score_title {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 700;
}

.game_log_warp {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.form-block {
  width: 100%;
  margin-bottom: 0;
}

.bet_input_warp1 {
  margin-bottom: 10px;
  display: flex;
}

.bet_input {
  width: 65%;
  height: 62px;
  border: 1px solid var(--line1);
  background-color: var(--black);
  background-image: linear-gradient(to bottom, black, var(--background2));
  box-shadow: 0 0 10px 1px var(--point1_15), inset 0 0 10px 0 var(--black);
  color: var(--white);
  text-align: center;
  border-radius: 4px;
  margin-bottom: 0;
  font-size: 20px;
}

.bet_input_btn {
  width: 35%;
  height: 62px;
  border: 1px solid var(--point1);
  background-color: var(--point1);
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
  font-size: 24px;
  line-height: 24px;
  display: flex;
}

.bet_count_btnwarp {
  width: 100%;
  height: 62px;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  display: flex;
}

.bet_count_btn {
  width: 25%;
  height: 100%;
  border: 1px solid var(--line1);
  background-color: var(--background3);
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  display: flex;
}

.bet_count_btn.active {
  border-color: var(--point1);
  background-color: var(--plus_back);
}

.footer_warp {
  max-width: 1440px;
  min-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.f_logo {
  width: 200px;
  opacity: .5;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  width: 100%;
  border-top: 1px solid var(--line1);
  color: var(--grey);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.log_warp {
  padding: 20px 18px;
  font-size: 16px;
}

.log_warp.check {
  background-color: var(--gold_2);
}

.log_warp.earn {
  background-color: var(--point1_15);
}

.log_warp.error {
  color: var(--point2);
}

.cash_span {
  color: var(--gold);
  margin-left: 4px;
  margin-right: 4px;
  font-weight: 700;
}

.login_area {
  align-items: center;
  margin-left: auto;
  display: none;
}

.nav_area {
  align-items: center;
  display: flex;
}

.nav_btn {
  background-color: var(--transparent);
}

.nav_btn:hover, .nav_btn.active {
  text-decoration: underline;
}

.nav_warp {
  position: relative;
}

.nav_toggle {
  width: 200px;
  border: 1px solid var(--line1);
  background-color: var(--background2);
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: none;
  position: absolute;
  top: 100%;
  overflow: hidden;
}

.toggle_btn {
  width: 100%;
  background-color: var(--transparent);
}

.toggle_btn:hover {
  background-color: var(--line1);
}

.login_btn {
  border: 1px solid var(--line1);
  background-color: var(--line1);
  border-radius: 4px;
  margin-right: 8px;
  transition: background-color .2s;
}

.login_btn:hover {
  background-color: var(--point1);
}

.regist_btn {
  border: 1px solid var(--point1_15);
  background-color: var(--point1_15);
  border-radius: 4px;
  transition: background-color .2s;
}

.regist_btn:hover {
  background-color: var(--point1);
}

.logout_btn {
  background-color: var(--transparent);
  margin-left: 8px;
  transition: background-color .2s;
}

.logout_btn:hover {
  color: var(--point1);
}

.point_info {
  align-items: center;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
}

.point_title {
  margin-right: 4px;
}

.point_span {
  color: var(--point1);
  margin-left: 4px;
  margin-right: 4px;
  font-size: 14px;
  font-weight: 700;
}

.score_warp {
  align-items: center;
  display: flex;
}

.cash_btn {
  width: 30%;
  height: 62px;
  border: 1px solid var(--gold);
  background-color: var(--gold);
  color: var(--black);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
}

.banner {
  width: 100%;
  height: 50vh;
  min-width: 1280px;
  background-color: var(--background);
  background-image: url('../images/green_digital2.png');
  background-position: 50%;
  background-repeat: repeat;
  background-size: cover;
  padding-left: 40px;
  padding-right: 40px;
}

.banner_warp {
  width: 1200px;
  height: 100%;
  min-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  display: flex;
}

.banner_title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 54px;
  font-weight: 500;
  line-height: 62px;
}

.banner_item {
  min-height: 48px;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.banner_btn {
  min-height: 48px;
  min-width: 120px;
  border: 1px solid var(--point1);
  background-color: var(--point1);
  background-image: linear-gradient(to bottom, var(--point1), var(--background));
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
  display: flex;
}

.banner_item_txt {
  font-size: 16px;
  line-height: 24px;
}

.main_tem_area {
  border: 1px solid var(--point1_15);
  background-color: var(--ui-1);
  box-shadow: 0 2px 8px 0 var(--point1_15);
  border-radius: 8px;
  margin-top: -100px;
  padding: 40px;
}

.main_item_warp {
  display: flex;
}

.main_item {
  width: 33.3%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  display: flex;
}

.item_title {
  margin-top: 0;
  margin-bottom: 14px;
}

.item_sub {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
}

.item_img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.mob_menu {
  display: none;
}

.content_title {
  margin-top: 0;
  margin-bottom: 20px;
}

.regist_sc {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.regist_block {
  width: 680px;
  border: 1px solid var(--point1_15);
  background-color: var(--ui-1);
  box-shadow: 0 0 8px 0 var(--point1_15);
  border-radius: 8px;
  padding: 40px;
}

.login_content {
  width: 100%;
  min-height: 90vh;
  background-color: var(--background);
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.input_warp {
  margin-bottom: 20px;
}

.input_label {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.input1 {
  width: 100%;
  height: 44px;
  border: 1px solid var(--grey);
  background-color: var(--black);
  color: var(--white);
  border-radius: 4px;
}

.input_notice {
  color: var(--point1);
}

.input_warn {
  color: var(--point2);
}

.input_ad_warp {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  align-items: flex-start;
  display: flex;
}

.input2 {
  width: 80%;
  height: 44px;
  border: 1px solid var(--grey);
  background-color: var(--black);
  color: var(--white);
  border-radius: 4px;
}

.input_btn {
  width: 20%;
  height: 44px;
  background-color: var(--grey_colored);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: background-color .2s;
  display: flex;
}

.input_btn:hover {
  background-color: var(--point1);
}

.input3 {
  width: 50%;
  height: 44px;
  border: 1px solid var(--grey);
  background-color: var(--black);
  color: var(--white);
  border-radius: 4px;
}

.lr_btn {
  width: 100%;
  height: 50px;
  border: 1px solid var(--point1);
  background-color: var(--point1);
  background-image: linear-gradient(to bottom, var(--point1), var(--plus_back));
  text-align: center;
  letter-spacing: 1px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

.lr_btn:hover {
  background-image: linear-gradient(to bottom, var(--point1), var(--background));
}

.lr_linkarea {
  color: var(--grey_colored);
  justify-content: center;
  font-size: 13px;
  display: flex;
}

.login_link {
  color: var(--white);
  margin-left: 4px;
  text-decoration: none;
}

.general_content {
  width: 100%;
  min-height: 50vh;
  background-color: var(--background);
}

.dw_sc {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.dw_box {
  width: 1000px;
  border: 1px solid var(--point1_15);
  background-color: var(--ui-1);
  box-shadow: 0 0 8px 0 var(--point1_15);
  border-radius: 8px;
  margin-bottom: 40px;
  padding: 40px;
}

.content_sub {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
}

.input_warp2 {
  align-items: flex-start;
  margin-bottom: 20px;
  display: flex;
}

.input_label2 {
  width: 150px;
  min-height: 44px;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  display: flex;
}

.input_dw {
  width: 100%;
  height: 44px;
  border: 1px solid var(--grey);
  background-color: var(--black);
  color: var(--white);
  border-radius: 4px;
}

.input_dw_warp {
  width: 750px;
  min-height: 44px;
}

.input_txtbox {
  width: 100%;
  height: 44px;
  border: 1px solid var(--grey);
  border-radius: 4px;
  align-items: center;
  padding: 8px 12px;
  font-size: 14px;
  display: flex;
}

.input_txtbox._1 {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  color: var(--point1);
}

.dw_txt {
  min-height: 44px;
  color: var(--gold);
  font-size: 16px;
  line-height: 44px;
}

.dw_input_btnarea {
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  flex-wrap: wrap;
  display: flex;
}

.dw_input_btn {
  min-height: 44px;
  min-width: 85px;
  background-color: var(--plus_back);
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: background-color .2s;
  display: flex;
}

.dw_input_btn:hover {
  background-color: var(--point1);
}

.dw_input_btn._2 {
  background-color: var(--red);
}

.dw_input_btn._2:hover {
  background-color: var(--point2);
}

.general_btn_area {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  justify-content: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.general_btn {
  min-height: 50px;
  min-width: 150px;
  background-color: var(--grey);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  transition: background-color .2s;
  display: flex;
}

.general_btn:hover {
  background-color: var(--point1);
}

.general_btn._2 {
  background-color: var(--background3);
}

.dw_table {
  border-style: solid none none solid;
  border-width: 2px;
  border-color: var(--background);
}

.dw_table_top {
  min-height: 44px;
  background-color: var(--background2);
  display: flex;
}

.dw_table_warp {
  min-height: 44px;
  border-bottom: 2px solid var(--background2);
  display: flex;
}

.dw_tb1 {
  width: 25%;
  border-right: 1px solid var(--background2);
  text-align: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}

.dw_tb2 {
  width: 20%;
  border-right: 1px solid var(--background2);
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}

.dw_tb3 {
  width: 15%;
  border-right: 2px solid var(--background2);
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}

.list_txt {
  font-weight: 600;
}

.list_txt.blue {
  color: var(--point1);
}

.list_txt.grey {
  color: var(--grey);
}

.list_txt.red {
  color: var(--point2);
}

.list_txt.ok {
  color: var(--point1);
}

.list_txt.cancle {
  color: var(--red);
}

.dw_cancle {
  min-width: 50px;
  background-color: var(--point2);
  text-align: center;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  line-height: 14px;
}

.pagging {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: center;
  margin-top: 40px;
  display: flex;
}

.pagging_btn {
  background-color: var(--plus_back);
  border-radius: 4px;
  transition: background-color .2s;
}

.pagging_btn:hover {
  background-color: var(--point1);
}

.pagging_btn.active {
  background-color: var(--point1);
  box-shadow: 0 0 8px 0 var(--point1_15);
}

.ex_btn {
  background-color: var(--gold);
  color: var(--black);
  border-radius: 4px;
  padding: 4px 8px;
  transition: background-color .2s;
}

.ex_btn:hover {
  background-color: var(--gold_2);
}

.dw_tb4 {
  width: 50%;
  border-right: 1px solid var(--background2);
  text-align: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}

.search_warp {
  width: 100%;
  background-color: var(--ui-1);
  border-radius: 4px;
  padding: 14px;
  display: flex;
}

.date_warp {
  align-items: center;
  display: flex;
}

.hisyory_btn_warp {
  margin-left: auto;
}

.category1 {
  border: 1px solid var(--line1);
  background-color: var(--black);
  color: var(--white);
  border-radius: 4px;
  margin-bottom: 0;
  margin-right: 14px;
}

.date_input {
  border: 1px solid var(--line1);
  background-color: var(--black);
  color: var(--white);
  border-radius: 4px;
  margin-bottom: 0;
  margin-left: 14px;
  margin-right: 14px;
}

.search_btn {
  min-width: 80px;
  background-color: var(--point1);
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.history_sc {
  flex-direction: column;
  margin-top: 40px;
  display: flex;
}

.history_top {
  height: 54px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: var(--black);
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  display: flex;
}

.bet_info {
  margin-bottom: 20px;
}

.bet_info1 {
  height: 40px;
  align-items: center;
  margin-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
}

.bet_info2 {
  min-height: 54px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  margin-bottom: 8px;
  display: flex;
}

.date_txt {
  margin-right: 8px;
  font-size: 14px;
  font-weight: 700;
}

.game_numtxt {
  color: var(--gold);
}

.bet_info3 {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  border: 1px solid var(--line1);
  border-radius: 4px;
  align-items: center;
  padding: 14px;
  display: flex;
}

.h_btn {
  min-width: 100px;
  background-color: var(--grey);
  text-align: center;
  border-radius: 4px;
  margin-left: 14px;
  margin-right: 14px;
}

.h_btn._2 {
  background-color: var(--gold_2);
  margin-left: 0;
  margin-right: 0;
}

.h_list1 {
  width: 14%;
  border: 1px solid var(--line1);
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}

.h_list1.title {
  border-style: none;
}

.h_list2 {
  width: 14%;
  border: 1px solid var(--line1);
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}

.h_list2.title {
  border-style: none;
}

.h_list3 {
  width: 12%;
  border: 1px solid var(--line1);
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}

.h_list3.title {
  border-style: none;
}

.h_list4 {
  width: 50%;
  border: 1px solid var(--line1);
  border-radius: 4px;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}

.h_list4.on {
  background-color: var(--plus_back);
}

.h_list4.title {
  border-style: none;
}

.h_list5 {
  width: 8%;
  border: 1px solid var(--line1);
  background-color: var(--background);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}

.h_list5.btn1 {
  color: var(--point1);
  text-decoration: underline;
}

.h_list5.title {
  background-color: var(--transparent);
  border-style: none;
}

.h_list5.btn2 {
  color: var(--red);
  text-decoration: underline;
}

.select_box {
  min-width: 80px;
  margin-right: 20px;
}

.h_btn2 {
  min-width: 90px;
  background-color: var(--grey_colored);
  text-align: center;
  border-radius: 4px;
  margin-left: auto;
}

.h_info_warp {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  flex-wrap: wrap;
  display: flex;
}

.h_span {
  color: var(--gold);
  margin-left: 8px;
}

.h_span.correct {
  color: var(--point1);
}

.h_span.incorrect {
  color: var(--red);
}

.custermer_sc {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.list_area {
  width: 100%;
}

.list_top {
  height: 54px;
  background-color: var(--black);
  border-radius: 4px;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.list_warp {
  height: 54px;
  border: 1px solid var(--line1);
  align-items: center;
  margin-bottom: 8px;
  display: flex;
}

.list1 {
  width: 15%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}

.list2 {
  width: 50%;
  height: 100%;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}

.list3 {
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.list4 {
  width: 15%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.list_btn {
  min-width: 80px;
  background-color: var(--grey_colored);
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.custermer_title {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}

.custermer_btnarea {
  height: 40px;
  align-items: center;
  margin-left: auto;
  display: flex;
}

.c_btn {
  min-width: 80px;
  background-color: var(--point1);
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-left: 14px;
  display: flex;
}

.c_btn._2 {
  background-color: var(--point2);
}

.q_title {
  height: 54px;
  border: 1px solid var(--line1);
  border-radius: 4px;
  align-items: center;
  margin-bottom: 14px;
  display: flex;
}

.q_content {
  min-height: 300px;
  border: 1px solid var(--line1);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 14px;
}

.q_textarea {
  width: 100%;
  min-height: 300px;
  background-color: var(--transparent);
  color: var(--white);
  border: 1px #000;
  margin-bottom: 0;
}

.q_title_tit {
  width: 15%;
  height: 40px;
  border-right: 1px solid var(--line1);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.q_title_input {
  width: 85%;
  height: 100%;
  background-color: var(--transparent);
  color: var(--white);
  border: 1px #000;
  margin-bottom: 0;
}

.q_title_txt {
  width: 100%;
  height: 100%;
  align-self: center;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
}

.q_date {
  color: var(--grey);
  margin-left: auto;
}

.q_content2 {
  min-height: 200px;
  border: 1px solid var(--line1);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 14px;
}

@media screen and (max-width: 991px) {
  .frame {
    padding-top: 72px;
  }

  .top {
    z-index: 999;
    min-width: 768px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .content, .top_warp, .container {
    min-width: 768px;
  }

  .game_content {
    padding-left: 0;
    padding-right: 0;
  }

  .game_board {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
  }

  .game_info {
    width: 57%;
  }

  .game_frame {
    width: 100%;
  }

  .bet_area {
    width: 100%;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }

  .game_left {
    width: 42%;
    margin-bottom: 20px;
  }

  .game_balance {
    width: 100%;
    margin-bottom: 20px;
  }

  .game_bet_btnarea1 {
    width: 40%;
  }

  .game_bet_btnarea2 {
    width: 57%;
  }

  .score_box {
    width: 100%;
    margin-bottom: 10px;
  }

  .game_logbox {
    padding: 14px;
  }

  .score_1 {
    min-width: 200px;
  }

  .score_2 {
    min-width: 200px;
    margin-left: -30px;
  }

  .footer_warp {
    width: 100%;
    min-width: auto;
  }

  .nav_area {
    display: none;
  }

  .score_warp {
    flex-direction: column;
    margin-bottom: 2vw;
  }

  .cash_btn {
    width: 100%;
  }

  .banner {
    min-width: auto;
  }

  .banner_warp {
    width: auto;
    min-width: auto;
  }

  .main_item_warp {
    flex-direction: column;
  }

  .main_item {
    width: 100%;
  }

  .mob_menu {
    width: 50px;
    height: 100%;
    display: flex;
  }

  .mob_menu_btn {
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .mob_menu_img {
    width: 24px;
    height: 24px;
  }

  .mob_menu_container {
    z-index: 999;
    background-color: var(--black_30);
    display: none;
    position: fixed;
    top: 72px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .mob_exsit {
    width: 55%;
  }

  .mob_menu_area {
    width: 45%;
    background-color: var(--ui-1);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
  }

  .m_menu_btnwarp {
    border-bottom: 1px solid var(--line1);
  }

  .m_menu_btn1 {
    min-height: 48px;
    color: var(--white);
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: flex;
  }

  .m_menu_btn1:hover {
    color: var(--point1);
  }

  .m_menu_btn1.active {
    text-decoration: underline;
  }

  .m_menu_toggle {
    background-color: var(--black);
    display: none;
  }

  .m_menu_btn2 {
    min-height: 48px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
  }

  .dw_box {
    width: 100%;
  }

  .input_dw_warp {
    width: 450px;
  }

  .dw_input_btn {
    min-width: 105px;
  }

  .ex_btn {
    margin-left: auto;
  }

  .checkbox-field {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .body {
    font-size: 2.3vw;
    line-height: 4vw;
  }

  .frame {
    padding-top: 14vw;
  }

  .top {
    height: 14vw;
    min-width: auto;
  }

  .content {
    min-width: auto;
  }

  .footer {
    padding: 6vw 3vw 3vw;
  }

  .top_warp {
    min-width: auto;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .container {
    min-width: auto;
    padding: 10vw 3vw;
  }

  .game_content {
    flex-direction: column;
    margin-bottom: 10vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  .game_board {
    width: 100%;
    height: 85vw;
    padding: 3vw;
  }

  .game_info {
    width: 100%;
  }

  .top_logo {
    width: 30vw;
    margin-right: 3vw;
  }

  .game_frame {
    padding: 4vw;
  }

  .game_left {
    width: 100%;
    margin-bottom: 1vw;
  }

  .game_bet_btnarea1 {
    width: 100%;
  }

  .game_bet_btnarea2 {
    width: 100%;
    margin-bottom: 2vw;
  }

  .score_box {
    height: 17vw;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2vw;
  }

  .game_logbox {
    height: 78vw;
    padding: 3vw;
  }

  .score_1 {
    min-width: auto;
    background-position: 100%;
    background-size: auto 100%;
    padding: 1vw 8vw 1vw 3vw;
    font-size: 3vw;
  }

  .score_2 {
    min-width: auto;
    background-size: auto 100%;
    margin-left: -5vw;
    padding: 1vw 3vw 1vw 10vw;
    font-size: 3vw;
  }

  .bet_btn {
    height: 8vw;
    padding: 1vw 2vw;
    font-size: 2.8vw;
    line-height: 3vw;
  }

  .balance_title {
    margin-bottom: 2vw;
    font-size: 3vw;
    line-height: 4vw;
  }

  .balance_count {
    font-size: 6vw;
    line-height: 6vw;
  }

  .game_notice {
    height: 10vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 3vw;
    line-height: 3vw;
  }

  .score_title {
    font-size: 4vw;
  }

  .bet_input {
    height: 10vw;
    padding: 1vw 2vw;
    font-size: 3vw;
    line-height: 3vw;
  }

  .bet_input_btn {
    height: 10vw;
    margin-left: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    font-size: 4vw;
    line-height: 4vw;
  }

  .bet_count_btnwarp {
    height: 10vw;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
  }

  .bet_count_btn {
    padding: 1vw 2vw;
    font-size: 4vw;
    line-height: 4vw;
  }

  .f_logo {
    width: 30vw;
    margin-bottom: 5vw;
  }

  .copyright {
    padding-top: 4vw;
    padding-bottom: 4vw;
  }

  .log_warp {
    padding: 3vw;
    font-size: 2.8vw;
  }

  .login_btn {
    margin-right: 1vw;
    padding: 2vw 3vw;
  }

  .regist_btn {
    padding: 2vw 3vw;
  }

  .logout_btn {
    margin-left: 1vw;
    padding: 1vw 2vw;
  }

  .point_span {
    margin-left: .5vw;
    margin-right: .5vw;
    font-size: 2.5vw;
  }

  .cash_btn {
    height: 10vw;
    padding: 1vw 2vw;
    font-size: 4vw;
    line-height: 4vw;
  }

  .banner {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .banner_warp {
    padding-bottom: 10vw;
  }

  .banner_title {
    margin-bottom: 7vw;
    font-size: 8vw;
    line-height: 8vw;
  }

  .banner_item {
    min-height: 8vw;
  }

  .banner_btn {
    min-height: 9vw;
    min-width: 25vw;
    margin-top: 4vw;
    padding: 1vw 2vw;
    font-size: 3vw;
  }

  .banner_item_txt {
    font-size: 2.5vw;
    line-height: 5vw;
  }

  .main_tem_area {
    margin-top: -20vw;
    padding: 5vw;
  }

  .main_item {
    padding: 5vw;
  }

  .item_title {
    margin-bottom: 3vw;
    font-size: 4vw;
    line-height: 5vw;
  }

  .item_sub {
    font-size: 2.8vw;
    line-height: 4vw;
  }

  .item_img {
    width: 12vw;
    height: 12vw;
    margin-bottom: 4vw;
  }

  .mob_menu, .mob_menu_btn {
    width: 9vw;
  }

  .mob_menu_img {
    width: 4vw;
    height: 4vw;
  }

  .mob_exsit {
    width: 45%;
  }

  .mob_menu_area {
    width: 55%;
    padding-top: 4vw;
    padding-bottom: 4vw;
    font-size: 2.5vw;
  }

  .m_menu_btn1, .m_menu_btn2 {
    min-height: 9vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .m_menu_btn2:hover {
    color: var(--point1);
  }

  .content_title {
    margin-bottom: 8vw;
    font-size: 6vw;
    line-height: 7vw;
  }

  .regist_block {
    width: 100%;
    padding: 6vw 5vw;
  }

  .input_warp {
    margin-bottom: 4vw;
  }

  .input_label {
    margin-bottom: 2vw;
    font-size: 3vw;
  }

  .input1 {
    height: 8vw;
    margin-bottom: 2vw;
    padding: 1vw 2vw;
  }

  .input_ad_warp {
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
  }

  .input2 {
    height: 8vw;
    margin-bottom: 2vw;
    padding: 1vw 2vw;
  }

  .input_btn {
    height: 8vw;
    padding: 1vw 2vw;
    font-size: 2.5vw;
  }

  .input3 {
    height: 8vw;
    margin-bottom: 2vw;
    padding: 1vw 2vw;
  }

  .lr_btn {
    height: 9vw;
    margin-top: 4vw;
    padding: 1vw 2vw;
    font-size: 2.8vw;
  }

  .lr_linkarea {
    font-size: 2.5vw;
  }

  .dw_box {
    margin-bottom: 5vw;
    padding: 5vw;
  }

  .content_sub {
    margin-bottom: 5vw;
    font-size: 4vw;
    line-height: 5vw;
  }

  .input_warp2 {
    flex-direction: column;
    margin-bottom: 4vw;
  }

  .input_label2 {
    width: 100%;
    min-height: 7vw;
    margin-bottom: 2vw;
    font-size: 3vw;
  }

  .input_dw {
    height: 8vw;
    margin-bottom: 2vw;
    padding: 1vw 2vw;
  }

  .input_dw_warp {
    width: 100%;
    min-height: 7vw;
  }

  .input_txtbox {
    height: 8vw;
    padding: 1vw 2vw;
    font-size: 2.5vw;
  }

  .dw_txt {
    font-size: 3vw;
    line-height: 8vw;
  }

  .dw_input_btnarea {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    justify-content: center;
    margin-top: 4vw;
  }

  .dw_input_btn {
    min-height: 7vw;
    min-width: 19vw;
    padding: 1vw 2vw;
    font-size: 2.5vw;
  }

  .general_btn_area {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    margin-top: 7vw;
  }

  .general_btn {
    min-height: 9vw;
    min-width: 30vw;
    font-size: 3vw;
  }

  .dw_table_top, .dw_table_warp {
    min-height: 7vw;
  }

  .dw_tb1 {
    justify-content: center;
    padding-left: .5vw;
    padding-right: .5vw;
  }

  .dw_tb2 {
    text-align: center;
    justify-content: center;
    padding-left: .5vw;
    padding-right: .5vw;
  }

  .dw_tb3 {
    padding-left: .5vw;
    padding-right: .5vw;
  }

  .dw_cancle {
    min-width: 9vw;
    padding: 1vw 2vw;
    font-size: 2.5vw;
    line-height: 3vw;
  }

  .pagging {
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    margin-top: 5vw;
  }

  .pagging_btn {
    min-width: 7vw;
    text-align: center;
    padding: 2vw;
    line-height: 3vw;
  }

  .ex_btn {
    padding: 1vw 2vw;
  }

  .dw_tb4 {
    justify-content: center;
    padding-left: .5vw;
    padding-right: .5vw;
  }

  .search_warp {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    flex-direction: column;
    padding: 2vw;
  }

  .category1 {
    margin-right: 1vw;
    padding: 2vw;
  }

  .date_input {
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 2vw;
  }

  .search_btn {
    min-width: 15vw;
    padding: 2vw;
  }

  .history_sc {
    margin-top: 7vw;
  }

  .history_top {
    height: 10vw;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    margin-bottom: 2vw;
    font-size: 2.5vw;
  }

  .bet_info {
    margin-bottom: 3vw;
  }

  .bet_info1 {
    height: 9vw;
    margin-bottom: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .bet_info2 {
    min-height: 10vw;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    margin-bottom: 1vw;
  }

  .date_txt {
    margin-right: 1vw;
    font-size: 2.5vw;
  }

  .bet_info3 {
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    padding: 2vw;
  }

  .h_btn {
    min-width: 20vw;
    margin-left: 2vw;
    margin-right: 0;
    padding: 2vw;
  }

  .h_list1 {
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .h_list2 {
    width: 15%;
  }

  .h_list3 {
    width: 14%;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .h_list4 {
    width: 38%;
  }

  .h_list5 {
    width: 15%;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .select_box {
    min-width: 12vw;
    margin-right: 3vw;
  }

  .h_btn2 {
    min-width: 14vw;
    padding: 2vw;
  }

  .h_info_warp {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
  }

  .h_span {
    margin-left: 1vw;
  }

  .custermer_title {
    margin-bottom: 4vw;
  }

  .q_title {
    height: 10vw;
    margin-bottom: 2vw;
  }

  .q_content {
    min-height: 60vw;
    margin-bottom: 4vw;
    padding: 2vw;
  }

  .q_textarea {
    min-height: 60vw;
    padding: 1vw 2vw;
  }

  .q_title_tit {
    width: 20%;
    height: 7vw;
  }

  .q_title_input {
    width: 80%;
    padding: 1vw 2vw;
  }

  .q_content2 {
    min-height: 40vw;
    margin-bottom: 4vw;
    padding: 2vw;
  }
}


